#menu-13 .navbar-inverse.scrolled {
  background-color: #111;
}
#menu-0 .navbar-inverse.scrolled {
  background-color: #111;
}
#header15-4 H2 {
  color: #ffffff;
}
#header15-4 P {
  color: #2b2b2b;
}
#menu-0 .navbar-inverse.scrolled {
  background-color: #111;
}
#msg-box11-35 P {
  color: #ffffff;
}
#msg-box11-35 H4 {
  color: #ffffff;
}
#menu-0 .navbar-inverse.scrolled {
  background-color: #111;
}
#msg-box4-51 P {
  text-align: left;
}
